{% extends 'layout.html.twig' %}

{% block contents %}
    {% if success %}
        <div class="alert alert-success loginsuccess">
            Votre emprunt est bien enregistré
        </div>
    {% endif %}
    <div class="jumbotron">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <p>Votre nom : <input type="text" name="nom" class="form-control" required></p>
        </div>
        <div class="form-group">
            <p>Date de fin de l'emprunt :<input type="date" name="dateFin" class="form-control" required></p>
        </div>
        <div class="form-group">
            <p><input type="submit" value="OK" class="btn btn-default"></p>
        </div>
    </form>
    </div>
{% endblock %}